# 025-tse2018_partidos

In [1]:
ano_eleicao = '2018'
dbschema = 'tse2018'

In [2]:
import os
import sys
sys.path.append('../')
import mod_tse as mtse
home = os.environ["HOME"]

In [3]:
table_candidatos = f"{dbschema}.consulta_cand_{ano_eleicao}"

table_partidos = f"{dbschema}.partidos_{ano_eleicao}"

In [4]:
create_table_partidos = f"""
DROP TABLE IF EXISTS {table_partidos} CASCADE;
CREATE TABLE {table_partidos} (
    nr_partido varchar,
    sg_partido varchar,
    nm_partido varchar
);

insert into {table_partidos}
(select
    nr_partido,
    sg_partido,
    nm_partido
from {table_candidatos}
group by
    nr_partido,
    sg_partido,
    nm_partido 
);

"""

mtse.pandas_query(create_table_partidos)

DROP TABLE IF EXISTS tse2018.partidos_2018 CASCADE;
CREATE TABLE tse2018.partidos_2018 (
    nr_partido varchar,
    sg_partido varchar,
    nm_partido varchar
);

insert into tse2018.partidos_2018
(select
    nr_partido,
    sg_partido,
    nm_partido
from tse2018.consulta_cand_2018
group by
    nr_partido,
    sg_partido,
    nm_partido
);

TypeError: 'NoneType' object is not iterable